.jetpack-portfolio-shortcode {
	clear: both;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.portfolio-entry {
	float: left;
	margin: 0 20px 3em 0;
	padding: 0;
	width: 100%;
}

/* Column setting */
.column-1 .portfolio-entry {
	width: 100%;
}

.column-2 .portfolio-entry {
	max-width: 48%;
	max-width: -webkit-calc(50% - 20px);
	max-width: calc(50% - 20px);
}

.column-3 .portfolio-entry {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 20px);
	max-width: calc(33.3% - 20px);
}

.column-4 .portfolio-entry {
	max-width: 23%;
	max-width: -webkit-calc(25% - 20px);
	max-width: calc(25% - 20px);
}

.column-5 .portfolio-entry {
	max-width: 19%;
	max-width: -webkit-calc(20% - 20px);
	max-width: calc(20% - 20px);
}

.column-6 .portfolio-entry {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 20px);
	max-width: calc(16.7% - 20px);
}
.portfolio-entry.first-item-row {
	clear: both;
}
.portfolio-entry.last-item-row {
	margin-right: 0;
}

/* Entry Header */
.portfolio-entry-header {
	border: 0;
	margin: 0;
	padding: 0;
}

.portfolio-featured-image {
	margin: 0 0 1em 0;
	padding: 0;
}

.portfolio-featured-image img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	margin-bottom:;
}

.portfolio-entry-title {
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.portfolio-featured-image + .portfolio-entry-title {
	margin-top: 1em !important;
}

.portfolio-entry-title a {
	border: 0;
	text-decoration: none;
}

/* Entry Meta */
.portfolio-entry-meta {
	margin: 0;
	padding: 0;
}

.portfolio-entry-title + .portfolio-entry-meta {
	margin-top: 0.75em;
}

.portfolio-entry-title + .portfolio-entry-meta:empty {
	margin: 0;
}

.portfolio-entry-meta span,
.portfolio-entry-meta a {
	font-size: 0.9em;
	padding: 0;
}

.portfolio-entry-meta a {
	border: 0;
	text-decoration: none;
}
/* Entry Content */
.portfolio-entry-content {
	margin: 0.75em 0 0;
	padding: 0;
}

.portfolio-entry-content > :last-child {
	margin: 0;
}